<header class="header">
            <a href="#" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                CHEEESE
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        
                        <!-- Notifications: style can be found in dropdown.less -->
                        
                        <!-- Tasks: style can be found in dropdown.less -->
                        
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{ app.user.username }} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="" class="img-circle" alt="User Image" />
                                    <p>
                                        {% if app.user.lastname == null %}
                                        {{ app.user.username }}
                                        {% else %}
                                        {{ app.user.firstname }} {{ app.user.lastname }}
                                        {% endif %}
                                        <small>{% trans from "menu" %}menu.up.membersince{% endtrans %} {{ app.user.createdAt|date('d-m-Y') }}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('security')}}" class="btn btn-default btn-flat">{% trans from "menu" %}menu.up.profile{% endtrans %}</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">{% trans from "menu" %}menu.up.signout{% endtrans %}</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Locale -->
                        <li class="dropdown user user-menu">
                        	{#% include "locale.html.twig" %#}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>