{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "offers" %}community.availability.view.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "offers" %}community.availability.view.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-play"></i>{% trans from "offers" %}community.availability.view.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "offers" %}community.availability.view.breadh2{% endtrans %}{% endblock %}
{% block content %}
					<h4 class="page-header">
                        {% trans from "offers" %}community.availability.view.header.big{% endtrans %}
                        <small>{% trans from "offers" %}community.availability.view.header.small{% endtrans %}</small>
                    </h4>
                    <form action="{{ path('availability_submit') }}" method="post"}}>
                    	<div class="col-md-12">
							<p>
								<button type="submit" class="btn btn-primary">{% trans from "offers" %}community.availability.view.btn.submit{% endtrans %}</button>
							</p>						
						</div>
                    {% for i in 0..11 %}
                    	<div class="col-md-4" style="height:370px; position:relative">                      	                            	
                            <!-- Primary box -->
                            {% if i == 0 %}
                            	{% set time = "now"|date("U") %}
                            	<div class="box box-solid box-success">                            	
                            {% else %}
                            	{% set value = "+"~ i ~ " month" %}
                            	{% set time = value|date("U") %}
                               <div class="box box-solid box-primary">                                                           
                            {% endif %}
                                <div class="box-header">
                                    <h3 class="box-title">{{ time|date('m - Y', "Europe/Paris") }}</h3>
                                </div>
                                <div class="box-body">
                                	<input type="checkbox" class="all-{{ i }}" /> {% trans from "offers" %}community.availability.view.selectall{% endtrans %}</th>
                                	<p>
	                                    <table>
										<thead>
											<tr>
												<th width="17%">{% trans from "offers" %}community.availability.view.th.sun{% endtrans %}</th>
												<th width="17%">{% trans from "offers" %}community.availability.view.th.mon{% endtrans %}</th>
												<th width="17%">{% trans from "offers" %}community.availability.view.th.tue{% endtrans %}</th>
												<th width="17%">{% trans from "offers" %}community.availability.view.th.wed{% endtrans %}</th>
												<th width="17%">{% trans from "offers" %}community.availability.view.th.thu{% endtrans %}</th>
												<th width="17%">{% trans from "offers" %}community.availability.view.th.fri{% endtrans %}</th>
												<th width="17%">{% trans from "offers" %}community.availability.view.th.sat{% endtrans %}</th>
											</tr>
										</thead>
										<tbody>
											<tr>
											{% set data = time|date('Y-m') %}
											{% set daysInMonth = time|date('t') %}
											{% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
											{% set dow = startDow %}
											{% for day in range(1,daysInMonth) %}
												{% if day < 10 %}
													{% set day = 0 ~ day %}
												{% endif %}
												{% set dayValue = data ~ "-" ~ day %}
												{% if loop.first and startDow != 0 %}
													<td colspan="{{ startDow }}"></td>
												{% endif %}
												<td>
													<div>
														{% if date(dayValue) > date('now') %}
														<div>{{ day }}</div>
														<div>																												
														<input class="month--{{ i }}" type="checkbox" name="dates[]" value="{{ dayValue }}" {% if dayValue in dates %} checked {% endif %}>
														</div>
														{% else %}
														<div></div><div></div>
														{% endif %}													
													</div>
												</td>
												{% if loop.last and dow != 6 %}
													<td colspan="{{ 6 - dow }}">&nbsp;</td>
												{% endif %}
												{% if dow == 6 %}
													{% set dow = 0 %}
												</tr>
												<tr>
												{% else %}
													{% set dow = dow + 1 %}
												{% endif %}
											{% endfor %}
											</tr>
										</tbody>
									</table>
								</p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col -->
                    {% endfor %} 
						
                    </form>    
{% endblock %}
{% block javascripts_inline %}
        <script type="text/javascript">
            $(function () {
            	$('input.all-0').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--0').iCheck('check');
				        } else {
				            $('input.month--0').iCheck('uncheck');
				        }
				});
				$('input.all-1').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--1').iCheck('check');
				        } else {
				            $('input.month--1').iCheck('uncheck');
				        }
				});
				$('input.all-2').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--2').iCheck('check');
				        } else {
				            $('input.month--2').iCheck('uncheck');
				        }
				});
				$('input.all-3').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--3').iCheck('check');
				        } else {
				            $('input.month--3').iCheck('uncheck');
				        }
				});
				$('input.all-4').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--4').iCheck('check');
				        } else {
				            $('input.month--4').iCheck('uncheck');
				        }
				});
				$('input.all-5').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--5').iCheck('check');
				        } else {
				            $('input.month--5').iCheck('uncheck');
				        }
				});
				$('input.all-6').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--6').iCheck('check');
				        } else {
				            $('input.month--6').iCheck('uncheck');
				        }
				});
				$('input.all-7').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--7').iCheck('check');
				        } else {
				            $('input.month--7').iCheck('uncheck');
				        }
				});
				$('input.all-8').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--8').iCheck('check');
				        } else {
				            $('input.month--8').iCheck('uncheck');
				        }
				});
				$('input.all-9').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--9').iCheck('check');
				        } else {
				            $('input.month--9').iCheck('uncheck');
				        }
				});
				$('input.all-10').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--10').iCheck('check');
				        } else {
				            $('input.month--10').iCheck('uncheck');
				        }
				});
				$('input.all-11').on('ifChecked ifUnchecked', function(event) { 
				        if (event.type == 'ifChecked') {
				            $('input.month--11').iCheck('check');
				        } else {
				            $('input.month--11').iCheck('uncheck');
				        }
				});
            	
				   
});
        </script>
{% endblock %}