<div class="box-body table-responsive">
    <table id="datatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    {% trans from "services" %}gestion.service.show.list.th.reference{% endtrans %}
                </th>
                <th>{% trans from "services" %}gestion.service.show.list.th.client{% endtrans %}</th>
                <th>{% trans from "services" %}gestion.service.show.list.th.photographer{% endtrans %}</th>
                <th>{% trans from "services" %}gestion.service.show.list.th.date{% endtrans %}</th>
          		<th>{% trans from "services" %}gestion.service.show.list.th.town{% endtrans %}</th>	
                <th>{% trans from "services" %}gestion.service.show.list.th.category{% endtrans %}</th> 
          		<th>{% trans from "services" %}gestion.service.show.list.th.status{% endtrans %}</th>
          		<th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in services %}
			<tr>
                <td> {{ entity.reference }} </td>
                <td> <a href="{{ path('user_show', {id : entity.client.id} )}}">{{ entity.client.username }}</a></td>
                <td> <a href="{{ path('user_show', {id : entity.devis.company.photographer.id}) }}">{{ entity.devis.company.photographer.username }}</a></td>
                <td> {{ entity.starttime | date('d-m-Y H:i')}} </td>
                <td> {{ entity.town.name }} </td>
                <td> {{ entity.devis.category.name }} </td>
                {% if 1 == entity.status.id %}
                <td><span class="label label-warning">
                {% elseif 2 == entity.status.id %}
                <td><span class="label label-warning">
                {% elseif 3 == entity.status.id %}
                <td><span class="label label-danger">
                {% elseif 4 == entity.status.id %}
                <td><span class="label label-danger">
                {% elseif 5 == entity.status.id  %}
                <td><span class="label label-success">
                {% elseif 9 == entity.status.id  %}
                <td><span class="label label-danger">
                {% elseif 10 == entity.status.id  %}
                <td><span class="label label-danger">
                {% elseif 11 == entity.status.id  %}
                <td><span class="label label-warning">                    
                {% elseif 12 == entity.status.id  %}
                <td><span class="label label-warning">
                {% else %}
                <td><span class="label label-primary">
                {% endif %}
                {{ entity.status.libelle }}
                </span></td>
                <td><form action="{{ path('service_show', {'id' : entity.id }) }}"><button class="btn btn-default btn-sm">{% trans from "services" %}gestion.service.show.list.btn.details{% endtrans %}</button></form></td>
            </tr>
		{% endfor %}
            
            
        </tbody>
        <tfoot>
            <tr>
                 <th>
                    {% trans from "services" %}gestion.service.show.list.th.reference{% endtrans %}
                </th>
                <th>
                    {% trans from "services" %}gestion.service.show.list.th.client{% endtrans %}
                </th>
                <th>
                    {% trans from "services" %}gestion.service.show.list.th.photographer{% endtrans %}
                </th>
                <th>
                    {% trans from "services" %}gestion.service.show.list.th.date{% endtrans %}
                </th>
                <th>
                    {% trans from "services" %}gestion.service.show.list.th.town{% endtrans %}
                </th> 
                <th>
                    {% trans from "services" %}gestion.service.show.list.th.category{% endtrans %}
                </th>   
                <th>
                    {% trans from "services" %}gestion.service.show.list.th.status{% endtrans %}
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div><!-- /.box-body -->