{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "company" %}companies.iban.view.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "company" %}companies.iban.view.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}{% trans from "company" %}companies.iban.view.breadcrumbh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "company" %}companies.iban.view.breadcrumbh2{% endtrans %}{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">
						{% trans from "company" %}companies.iban.view.header{% endtrans %}</h3>
				</div>
				<div class="box-body table-responsive no-passind">
				 <table class="table table-hover">
				 	<tbody>
				 		<tr>
				 			<th>{% trans from "company" %}companies.iban.view.th.title{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.iban.view.th.address{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.iban.view.th.iban{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.iban.view.th.bic{% endtrans %}</th>
				 			<th></th>
				 		</tr>
				 		<tr>
				 		<td>{{ iban.name }}</td>
				 		<td>{{ iban.address }}</td>
				 		<td>{{ iban.iban }}</td>
				 		<td>{{ iban.bic }}</td>
				 		<td>
				 			<a class="btn btn-default btn-sm" href="{{ path('iban_edit') }}">
				 				{% trans from "company" %}companies.iban.view.btn.edit{% endtrans %}</a>
				 		</td>
				 		</tr>
				 	</tbody>
				 </table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}