{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "offers" %}community.devis.read.book.new.h1{% endtrans %}{% endblock %}

{% block titleH2 %}
{% trans from "offers" %}community.devis.read.book.new.h2{% endtrans %}
{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-briefcase"></i>{% trans from "offers" %}community.devis.read.book.new.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}
{% trans from "offers" %}community.devis.read.book.new.breadh2{% endtrans %}
{% endblock %}
{% block content %}
<section class="content">
	<div class="row">
			<div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">
                                    	{% trans from "offers" %}community.devis.read.book.new.header {% endtrans %}
                                        <strong>{{ devis.title }}</strong>                                        
                                    </h3>
                                </div>
                               {{ form_start(form) }}
                                    
                                    <div class="box-body">									
                                        {{ form_widget(form) }}
                                    </div>

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">
                                        	{% trans from "offers" %}community.devis.read.book.new.btn.submit{% endtrans %}
                                        </button>
                                        <a href="{{ path('devis_read', {'id' : devis.id}) }}" class="btn btn-default">
                                        	{% trans from "offers" %}community.devis.read.book.new.btn.back{% endtrans %}
                                        </a>
                                    </div>
                                {{ form_end(form) }}
                            </div>
		</div>	
	</div>
</section>
{% endblock %}