{% extends '::base.html.twig'%}
{% block title %}{% trans from "offers" %}community.devis.edit.h1{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "offers" %}community.devis.edit.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "offers" %}community.devis.edit.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-briefcase"></i>{% trans from "offers" %}community.devis.edit.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "offers" %}community.devis.edit.breadh2{% endtrans %}{% endblock %}
{% block content %}
	<div class="row">
			<div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">{% trans from "offers" %}community.devis.edit.header{% endtrans %}</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                               {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                                    <div class="box-body">
                                        <div class="form-group {% if not form.title.vars.valid %}has-error{% endif %}">								
                                        {{ form_label(form.title) }}                         
                                        {{ form_widget(form.title) }}
                                        <div class="text-red">
                                        {{ form_errors(form.title) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.devis.field.title {% endtrans %}
                                        </p>
                                        </div>

                                        <div class="form-group {% if not form.category.vars.valid %}has-error{% endif %}">
                                        {{ form_label(form.category) }} 
                                        {{ form_widget(form.category) }}
                                        <div class="text-red">
                                        {{ form_errors(form.category) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.devis.field.category{% endtrans %}
                                        </p>
                                        </div>
                                        
                                        <div class="form-group {% if not form.currency.vars.valid %}has-error{% endif %}">
                                        {{ form_label(form.currency) }} 
                                        {{ form_widget(form.currency) }}
                                        <div class="text-red">
                                        {{ form_errors(form.currency) }}
                                        </div>
                                        </div>

                                        <div class="form-group {% if not form.presentation.vars.valid %}has-error{% endif %}">
                                        {{ form_label(form.presentation) }} 
                                        {{ form_widget(form.presentation) }}
                                        <div class="text-red">
                                        {{ form_errors(form.presentation) }}
                                        </div>
                                         <p class="help-block">
                                        {% trans from "forms" %}help.devis.field.presentation {% endtrans %}
                                        </p>
                                      </div>
                                      <div class="form-group">
                                            <div class="checkbox">
                                                <label>
                                                    {{ form_widget(form.cgu) }}
                                                    {% trans from "offers" %}community.devis.edit.cgu.text{% endtrans %}<a href="#" target="_blank">{% trans from "offers" %}community.devis.edit.cgu.link{% endtrans %}</a>
                                                </label>
                                            </div>
                                            <div class="text-red">
                                            {{ form_errors(form.cgu) }}
                                            </div>
                                        </div> 
                                        
                                        {{ form_rest(form) }}
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">{% trans from "offers" %}community.devis.edit.submit{% endtrans %}</button>
                                        <a href="{{ path('devis_read', {'id' : devis.id}) }}"  class="btn btn-default">{% trans from "offers" %}community.devis.edit.btn.back{% endtrans %}</a>
                                    </div>
                                {{ form_end(form) }}
                                <div class="box-footer">
                                {% if 1 == devis.active %}
                                   <form action="{{ path('devis_disable', {'id' : devis.id}) }}">
                                   <button type="submit" class="btn btn-danger">{% trans from "offers" %}community.devis.edit.btn.disable{% endtrans %}</button>
                                   </form>
                               {% elseif 0 == devis.active %}
                                   <form action="{{ path('devis_enable', {'id' : devis.id}) }}">
                                   <button type="submit" class="btn btn-success">{% trans from "offers" %}community.devis.edit.btn.enable{% endtrans %}</button>
                                   </form>
                               {% endif %}
                               </div>
                            </div>
		</div>	
	</div>
{% endblock %}
