{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "offers" %}community.devis.edit.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "offers" %}community.devis.edit.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}{% trans from "offers" %}community.devis.edit.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "offers" %}community.devis.edit.breadh2{% endtrans %}{% endblock %}
{% block content %}
	<div class="row">
			<div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">{% trans from "offers" %}community.devis.edit.header{% endtrans %}</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                               {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                                    <div class="box-body">									
                                        {{ form_rest(form) }}
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">{% trans from "offers" %}community.devis.edit.submit{% endtrans %}</button>
                                    </div>
                                {{ form_end(form) }}
                                <div class="box-footer">
                                {% if 1 == devis.active %}
                                   <form action="{{ path('devis_disable', {'id' : devis.id}) }}">
                                   <button type="submit" class="btn btn-danger">{% trans from "offers" %}community.devis.edit.btn.disable{% endtrans %}</button>
                                   </form>
                               {% elseif 0 == devis.active %}
                                   <form action="{{ path('devis_enable', {'id' : devis.id}) }}">
                                   <button type="submit" class="btn btn-success">{% trans from "offers" %}community.devis.edit.btn.enable{% endtrans %}</button>
                                   </form>
                               {% endif %}
                               </div>
                            </div>
		</div>	
	</div>
{% endblock %}
