{% extends '::base.html.twig'%}
{% block title %}{% trans from "offers" %}community.devis.read.h1{% endtrans %} : {{ devis.title }}{% endblock %}
{% block titleH1 %}{{ devis.title }}{% endblock %}
{% block titleH2 %}{% trans from "offers" %}community.devis.read.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-briefcase"></i>{{ devis.title }}{% endblock %}
{% block breadcrumbH2 %}{% trans from "offers" %}community.devis.read.breadh2{% endtrans %}{% endblock %}
{% block content %}
<!-- Main content -->
{% if cover == false or prices == null %}
    <div class="alert alert-warning alert-dismissable">
        <i class="fa fa-warning"></i>
        <b>{% trans from "offers" %}community.devis.read.headband.warning.banner{% endtrans %}</b>
        {% trans from "offers" %}community.devis.read.headband.warning.message1{% endtrans %}
        <br>
        {% trans from "offers" %}community.devis.read.headband.warning.message2{% endtrans %}
    </div>
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            </div><!-- /.box-header -->            
            <div class="box-body">
                <div class="text-center">
                    <blockquote>
                    {% set text = encryptText(devis.presentation, devis.company.photographer.lastname) %}
                    <p>{{ text | nl2br }}</p>                   
                    </blockquote>
                    <p>
                        <span class="label label-primary">
                            {{ devis.category.name}}
                        </span>
                    </p>
                    <p>
                        {% if 1 == devis.active %}
                            <span class="label label-success">
                                {% trans from "offers" %}community.devis.read.dt.active.enabled{% endtrans %}
                            </span>
                        {% elseif 0 == devis.active %}
                            <span class="label label-danger">
                                {% trans from "offers" %}community.devis.read.dt.active.disabled{% endtrans %}
                            </span>
                        {% endif %}
                    </p>
                    <p>
                        {% if devis.prestations == 1 %}
                            {{ devis.note }} 
                            ({{ devis.prestations}} 
                            {% trans from "offers" %}
                            community.devis.read.dt.notation.count
                            {% endtrans %})
                        {% elseif devis.prestations > 1 %}
                            {{ devis.note }} 
                            ({{ devis.prestations}} 
                            {% trans from "offers" %}
                            community.devis.read.dt.notation.count
                            {% endtrans %})
                        {% endif %}
                    </p>
                </div>
            </div><!-- /.box-body -->  
            <div class="box-footer">
                <a href="{{ path('devis_edit', {'id' : devis.id}) }}" class="btn btn-primary btn-sm">
                    {% trans from "offers" %}community.devis.read.btn.edit{% endtrans %}
                </a>                                    
                <a href="{{ path('devis_new')}}" class="btn btn-success btn-sm">{% trans from "offers" %}community.devis.read.btn.new{% endtrans %}</a>
                <a href="{{ path('devis')}}" class="btn btn-default btn-sm">{% trans from "offers" %}community.devis.read.btn.back{% endtrans %}</a>
            </div>                              
        </div><!-- /.box -->
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        {% include "MainCommunityBundle:Offers\\Devis:book.html.twig" %}
    </div>
    <div class="col-xs-6">
        {% include "MainCommunityBundle:Offers\\Devis:prices.html.twig" %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {% if services|length == 0 %}
        	<div class="box">
        		<div class="box-header">
                <h3 class="box-title">{% trans from "offers" %}community.devis.read.services.empty{% endtrans %}</h3>
            	</div><!-- /.box-header -->                          
            	<div class="box-body table-responsive">
            	</div>
        	</div>
        {% else %}
        	<div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ services|length }} {% trans from "offers" %}community.devis.read.services.active{% endtrans %}</h3>
            </div><!-- /.box-header -->
            {% include "MainCommunityBundle:Services:list.html.twig" %}
        </div><!-- /.box -->
        
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts_inline %}
        <script type="text/javascript">
            $(function() {
                $('#datatable').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
{% endblock %}