{% if prices|length == 0 %}
                            	<div class="box">
                            		<div class="box-header">
                                    <h3 class="box-title">
                                        {% trans with {'%currency%': devis.currency.libelle} from "offers" %}community.devis.read.prices.title %currency%{% endtrans %}
                                    </h3>
                                	</div><!-- /.box-header -->                          
                                	<div class="box-body table-responsive">
                                        <h4>
                                            {% trans from "offers" %}community.devis.read.prices.empty{% endtrans %}
                                        </h4>
                                	</div>
                                    <div class="box-footer">
                                       <a href="{{ path('price_add', {'id' : devis.id}) }}" class="btn btn-primary btn-sm">
                                        {% trans from "offers" %}community.devis.read.prices.btn.add{% endtrans %}
                                    </a> 
                                    </div>
                            	</div>
{% else %}
                            	<div class="box">
                                <div class="box-header">
                                    <h3 class="box-title"> 
                                        {% trans with {'%currency%': devis.currency.libelle} from "offers" %}community.devis.read.prices.title %currency%{% endtrans %}
                                    </h3>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th>
                                                {% trans from "offers" %}community.devis.read.prices.th.duration{% endtrans %}
                                                </th>
                                                <th>
                                                {% trans from "offers" %}community.devis.read.prices.th.price{% endtrans %}
                                                </th>
                                                <th>
                                                {% trans from "offers" %}community.devis.read.prices.th.status{% endtrans %}
                                                </th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            {% for entity in prices %}
                                            <tr>
                                                <td> {{entity.duration.libelle}} </td>
                                                <td> {{entity.price}} </td>
                                                {% if 1 == entity.active %}
                                                <td>
                                                    <span class="label label-success">
                                                        {% trans from "offers" %}community.devis.read.prices.th.enabled{% endtrans %}
                                                    </span>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <span class="label label-warning">
                                                        {% trans from "offers" %}community.devis.read.prices.th.disabled{% endtrans %}
                                                    </span>
                                                </td>
                                                {% endif %}
                                                {% if 1 == entity.active %}
                                                <td>
                                                    <a href="{{ path('price_edit_status', {'id' : entity.devis.id, 'duration' : entity.duration.id, 'status': 0 }) }}" 
                                                    class="btn btn-danger btn-sm">
                                                    {% trans from "offers" %}community.devis.read.prices.th.btn.disable
                                                    {% endtrans %}
                                                    </a>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <a href="{{ path('price_edit_status', {'id' : entity.devis.id, 'duration' : entity.duration.id, 'status': 1 }) }}" class="btn btn-primary btn-sm">
                                                    {% trans from "offers" %}community.devis.read.prices.th.btn.enable
                                                    {% endtrans %}
                                                    </a>
                                                </td>
                                                {% endif %}
                                                <td>
                                                    <a href="{{ path('price_edit', {'id' : entity.devis.id, 'duration' : entity.duration.id}) }}" class="btn btn-default btn-sm">
                                                    {% trans from "offers" %}community.devis.read.prices.th.btn.edit{% endtrans %}
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                 <div class="box-footer">
                                       <a href="{{ path('price_add', {'id' : devis.id}) }}" class="btn btn-primary btn-sm">
                                        {% trans from "offers" %}community.devis.read.prices.btn.add{% endtrans %}
                                    </a> 
                                    </div>
                            </div><!-- /.box -->

                            
{% endif %}