{% extends '::base.html.twig'%}
{% block title %}{% trans from "offers" %}community.devis.read.prices.new.h1{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "offers" %}community.devis.read.prices.new.h1{% endtrans %}{% endblock %}

{% block titleH2 %}
    {% if new %}
        {% trans from "offers" %}community.devis.read.prices.new.h2{% endtrans %}
    {% else %}
        {% trans from "offers" %}community.devis.read.prices.edit.h2{% endtrans %}
    {% endif %}
{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-briefcase"></i>{% trans from "offers" %}community.devis.read.prices.new.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}
    {% if new %}
        {% trans from "offers" %}community.devis.read.prices.new.breadh2{% endtrans %}
    {% else %}
        {% trans from "offers" %}community.devis.read.prices.edit.breadh2{% endtrans %}
    {% endif %}
{% endblock %}
{% block content %}
<section class="content">
    <div class="callout callout-info">
        <h4>{% trans from "offers" %}community.devis.read.prices.help.h4{% endtrans %}</h4>
        <p>{% trans from "offers" %}community.devis.read.prices.help.p1{% endtrans %}</p>
        <p>{% trans from "offers" %}community.devis.read.prices.help.p2{% endtrans %}</p>
        <p>
            {% trans from "offers" %}community.devis.read.prices.help.p3.first.text{% endtrans %} 
        <strong>{% trans from "offers" %}community.devis.read.prices.help.p3.first.strong{% endtrans %}</strong>.
        {% trans from "offers" %}community.devis.read.prices.help.p3.second.text{% endtrans %} 
        <strong>{% trans from "offers" %}community.devis.read.prices.help.p3.second.strong{% endtrans %}</strong>
        </p>
    </div>
	<div class="row">
			<div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">
                                        {% if new %}
                                    	{% trans from "offers" %}community.devis.read.prices.new.header {% endtrans %}
                                        <strong>{{ devis.title }}</strong>
                                        {% else %}
                                        {% trans with {'%name%':devis.title, '%duration%':price.duration.libelle} from "offers" %}community.devis.read.prices.edit.header %name% %duration%{% endtrans %}                                        
                                        {% endif %}
                                    </h3>
                                </div>
                               {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                                    <div class="box-body">
                                    {% if new %}	
                                    <div class="form-group {% if not form.duration.vars.valid %}has-error{% endif %}">                             
                                        {{ form_label(form.duration) }}                         
                                        {{ form_widget(form.duration) }}
                                        <div class="text-red">
                                        {{ form_errors(form.duration) }}
                                        </div>
                                        </div>
                                    {% endif %}
                                        <div class="form-group {% if not form.price.vars.valid %}has-error{% endif %}">
                                        {{ form_label(form.price) }} 
                                        {{ form_widget(form.price) }}
                                        <div class="text-red">
                                        {{ form_errors(form.price) }}
                                        </div>
                                        </div>                                     								
                                        {{ form_rest(form) }}
                                    </div>

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">
                                        	{% trans from "offers" %}community.devis.read.prices.new.btn.submit{% endtrans %}
                                        </button>
                                        <a href="{{ path('devis_read', {'id' : devis.id}) }}" class="btn btn-default">
                                        	{% trans from "offers" %}community.devis.read.prices.new.btn.back{% endtrans %}
                                        </a>
                                    </div>
                                {{ form_end(form) }}
                            </div>
		</div>	
	</div>
</section>
{% endblock %}