{% extends "::layout.html.twig" %}
{% block title %}{% trans from "prestations" %}prestation.index.title{% endtrans %}{% endblock%}
{% block content %}

<div class="col-md-3 content">
	{{ include("MainFrontBundle:Menu:side_bar.html.twig" ,{id: 'prestations'}, with_context = false) }}
</div>
<div class="col-md-9 content">
	   {% if prestations|length == 0 %}
	   		PAS DE RESULTATS -- A IMPLEMENTER
	   {% else %}
	   		<table class="table table-hover">
			  <thead>
			  	<tr>
			  		<th>{% trans from "prestations" %}prestation.index.th.date{% endtrans %}</th>
			  		<th>{% trans from "prestations" %}prestation.index.th.town{% endtrans %}</th>
			  		<th>{% trans from "prestations" %}prestation.index.th.devis{% endtrans %}</th>
			  		<th>{% trans from "prestations" %}prestation.index.th.photographer{% endtrans %}</th>
			  		<th>{% trans from "prestations" %}prestation.index.th.status{% endtrans %}</th>
			  		<th></th>
			  	</tr>
			  </thead>
			  <tbody>
			  	{% for prestation in prestations %}
			  	<tr>
			  		<td>{{ prestation.starttime | date('d-m-Y H:i')}}</td>
			  		<td>{{ prestation.town.name }}</td>
			  		<td>{{ prestation.devis.title }}</td>
			  		<td>{{ prestation.devis.company.photographer.username }}</td>
			  		<td>{{ include('MainFrontBundle:Prestations:status.html.twig',{id: prestation.status.id}, with_context = false) }}</td>
			  		<td><a href="{{ path('show_service', {'id': prestation.id}) }}">{% trans from "prestations" %}prestation.index.btn.details{% endtrans %}</href></td>
			  	</tr>
			  	{% endfor %}
			  </tbody>
			</table>
	   {% endif %}
</div>
{% endblock %}