<div class="row">                       
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>{{ prestations }}</h3>
                                    <p>{% trans from "default"%}community.dashboard.verified.box.prestations{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{{ path('service') }}" class="small-box-footer">
                                    {% trans from "default"%}community.dashboard.verified.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-maroon">
                                <div class="inner">
                                    <h3>{{ devis }}</h3>
                                    <p>{% trans from "default"%}community.dashboard.verified.box.devis{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-pricetag-outline"></i>
                                </div>
                                <a href="{{ path('devis') }}" class="small-box-footer">
                                    {% trans from "default"%}community.dashboard.verified.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-purple">
                                <div class="inner">
                                    {% if moves != null %}
                                    <h3>{{ moves.radius }} <sup style="font-size: 20px">kms</sup></h3>
                                    {% else %}
                                    <h3>0 <sup style="font-size: 20px">kms</sup></h3>
                                    {% endif %}
                                    <p>{% trans from "default"%}community.dashboard.verified.box.moves{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-briefcase-outline"></i>
                                </div>
                                    <a href="{{ path('moves') }}" class="small-box-footer">
                                    {% trans from "default"%}community.dashboard.verified.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>XX<sup style="font-size: 20px">€</sup></h3>
                                    <p>{% trans from "default"%}community.dashboard.verified.box.money{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="#" class="small-box-footer">
                                    {% trans from "default"%}community.dashboard.verified.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-6 connectedSortable">
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li class="pull-left header"><i class="fa fa-inbox"></i>
                                    {% trans from "default"%}community.dashboard.verified.devis{% endtrans %}
                                    </li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div class="chart tab-pane active" id="sales-chart" style="position: relative; height: 300px;"></div>
                                </div>
                            </div><!-- /.nav-tabs-custom -->               
                        </section><!-- /.Left col -->
                        <!-- right col (We are only adding the ID to make the widgets sortable)-->
                        <section class="col-lg-6 connectedSortable"> 
                           <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li class="pull-left header"><i class="fa fa-inbox"></i>
                                    {% trans from "default"%}community.dashboard.verified.prestations{% endtrans %}
                                    </li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div class="chart tab-pane active" id="bar-chart" style="position: relative; height: 300px;"></div>
                                </div>
                            </div><!-- /.nav-tabs-custom -->   
                                
                            </div><!-- /.box -->

                        </section><!-- right col -->
                    </div><!-- /.row (main row) -->