{% block head_style %}
	{% block stylesheets %}
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ asset('bundles/mainfront/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}" type="text/css" media="all" />
			<link rel="stylesheet" href="{{ asset('bundles/mainfront/css/bootstrap.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('bundles/mainfront/css/datepicker.css') }}" />
      <link rel="stylesheet" href="{{ asset('bundles/mainfront/css/site.min.css') }}" />
      <link rel="stylesheet" href="{{ asset('bundles/mainfront/css/star-rating.min.css') }}" />
	{% endblock %}
{% endblock head_style %}

{% block head_script %}

<!--[if lt IE 9]>
  {% javascripts '@MainFrontBundle/Resources/public/js/library/respond.min.js'
  				 '@MainFrontBundle/Resources/public/js/library/html5shiv.min.js' %}
  	<script src="{{ asset_url }}"></script>
  {% endjavascripts %}
<![endif]-->

{% javascripts '@MainFrontBundle/Resources/public/js/library/site.min.js'
               '@MainFrontBundle/Resources/public/js/star-rating.min.js'
               '@MainFrontBundle/Resources/public/js/library/jquery-ui-1.10.4.custom.js'
               '@MainFrontBundle/Resources/public/js/library/bootstrap-datepicker.js'

                %}
    <script type="text/javascript">
      var base = location.protocol + "//" + location.host + '{{ app.request.baseUrl }}';
  </script> 
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

<script>
$(function () {
  var nua = navigator.userAgent
  var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
  if (isAndroid) {
    $('select.form-control').removeClass('form-control').css('width', '100%')
  }
})
</script>
<title>{% block title %}{% endblock %}</title>
{% block more_script %}

{% endblock more_script %}     

{% endblock head_script %} 

<body>
{% block container %}
    	{% include "MainFrontBundle:Menu:menu.html.twig" %}
      {% block search %}  
      {% endblock %}
    <div class="container">
      {% block content %}          
      {% endblock %}
    </div>
{% include "MainFrontBundle:Menu:footer.html.twig" %}
     {% block bottom_script %}

     {% endblock bottom_script %}
     
{% endblock container %}
</body>

