{% extends "::layout.html.twig" %}
{% block title %} {{ devis.title }}{% endblock %}
{% block content %}
{% if search %}
<div class="pull-right">
	<p class="pull-right">
		<a href="{{ path('search')}}" class="btn btn-link">
			<i class="glyphicon glyphicon-chevron-left"></i>{% trans %}devis.show.back{% endtrans %}</a>
	</p>
</div>
{% endif %}
<div class="col-xs-12 col-sm-12 col-lg-8">
	<h1 class="text-center">{{ devis.title }}</h1>
	<p class="text-center">
		<span class="label label-success">{{ devis.category.name }}</span>
	</p>
	{% if devis.prestations != 0 %}
	<p class="text-center">
		{{ devis.note|number_format(2) }}
	</p>
	{% endif %}
    <div class="jumbotron">
      {% include "MainFrontBundle:Devis\\show:photos.html.twig" %}
      <div class="jumbotron-contents">
        <blockquote>
	  		<p>{{ devis.presentation|nl2br }}</p>
		</blockquote>
      </div>
    </div>
	<br>
	{% if is_granted('ROLE_PARTICULIER') %}
		{% if bookable %}
			{% include "MainFrontBundle:Devis\\show:form.html.twig" %}
		{% else %}
			<div class="col-md-12">
				<div class="alert alert-danger">
					<button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
					<strong>{% trans %}devis.show.no.strong{% endtrans %}</strong>
					{% trans with {'%photographer%' : devis.company.photographer.firstname } %}devis.show.no.text %photographer%{% endtrans %}
				</div>
			</div>
		{% endif %}
	{% else %}
		{% include "MainFrontBundle:Devis\\show:anonymous.html.twig" %}
	{% endif %}
</div>

<div class="col-xs-12 col-lg-4">
	{% include "MainFrontBundle:Devis\\show:photographer.html.twig" %}
	{% include "MainFrontBundle:Devis\\show:help.html.twig" %}
	{% include "MainFrontBundle:Devis\\show:comments.html.twig" %}
	
</div>
{% endblock %}

{% block bottom_script %}
{% javascripts '@MainFrontBundle/Resources/public/js/devis.js'
			   '@MainFrontBundle/Resources/public/js/diacritics.js' %}
<script type="text/javascript">
    var towns 	= "{{ towns }}";
    var dates   = "{{ dates }}";
    var prices  = "{{ prices }}";
    var rate    = "{{ rate }}";
    </script>    
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock bottom_script %}