<div class="box-body table-responsive">
                                	
                                    <table id="datatable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                {% trans from "services" %}community.service.list.th.reference.title{% endtrans %}
                                                </th>
                                                <th>{% trans from "services" %}community.service.list.th.date{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.town{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.devis{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.client{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.status{% endtrans %}</th>
										  		<th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for entity in services %}
        									<tr>
                                                <td> {{ entity.reference }} </td>
                                                <td> {{ entity.starttime | date('d-m-Y H:i')}} </td>
                                                <td> {{ entity.town.name }} </td>
                                                <td> <a href="{{ path('devis_read', {'id' : entity.devis.id }) }}">{{ entity.devis.title }}</a></td>

                                                <td> {{ entity.client.username }}</td>
                                                <td>
                                                    {{ include('MainCommunityBundle:Services:status.html.twig', {id: entity.status.id}, with_context = false) }}
                                                </td>                                                
                                                <td><form action="{{ path('service_show', {'id' : entity.id }) }}"><button class="btn btn-default btn-sm">{% trans from "services" %}community.service.list.btn.details{% endtrans %}</button></form></td>
                                            </tr>
    									{% endfor %}
                                            
                                            
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                               <th>
                                                {% trans from "services" %}community.service.list.th.reference.title{% endtrans %}
                                                </th>
                                                 <th>{% trans from "services" %}community.service.list.th.date{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.town{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.devis{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.client{% endtrans %}</th>
										  		<th>{% trans from "services" %}community.service.list.th.status{% endtrans %}</th>
										  		<th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->