{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "services" %}community.service.show.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "services" %}community.service.show.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}{% trans from "services" %}community.service.show.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "services" %}community.service.show.breadh2{% endtrans %}{% endblock %}
{% block content %}
                <!-- Main content -->
                	<h2 class="page-header">{% trans from "services" %}community.service.show.header{% endtrans %}</h2>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                	<div class="col-xs-6 col-sm-4">
										<ul>
										<li>{{ prestation.starttime | date('d/m/Y')}} {% trans from "services" %}community.service.show.li.at{% endtrans %} {{ prestation.starttime | date('H:i')}}</li>
										<li>{{ prestation.address }} {{ prestation.town.name }} ({{ prestation.town.code }}) {{ prestation.town.country.name }}</li>
										</ul>
										</div>
										<div class="col-xs-6 col-sm-4">
										<ul>
											<li>{{ prestation.client.username }}</li>
											<li>{{ prestation.devis.title }} </li>
											<li>{{ prestation.devis.category.name }}</li>				
										</ul>
										</div>
										<div class="col-xs-6 col-sm-4">
										<ul>
											<li>{{ prestation.price }} ({{ prestation.devis.currency.libelle }})</li>
											<li>{{ prestation.duration.libelle }} </li>
											<li>{{ prestation.status.libelle }}</li>
										</ul>
										</div>
                                
	    							<a class="btn btn-default"  href="{{ path('service') }}">{% trans from "services" %}community.service.show.btn.back{% endtrans %}</a>
									{% if 1 == prestation.status.id %}
									<a class="btn btn-success"  href="{{ path('service_edit', { 'id' : prestation.id, 'slug': 2 }) }}">{% trans from "services" %}community.service.show.btn.approve{% endtrans %}</a>
									<a class="btn btn-danger"  href="{{ path('service_edit', { 'id' : prestation.id, 'slug': 3 }) }}">{% trans from "services" %}community.service.show.btn.refuse{% endtrans %}</a>
									
									{% endif %}  
									{% if commentAllowed %}
							    		{% if  null == commentPhotographer %}
							    			<a class="btn btn-default"  href="{{ path('notation', { 'id' : prestation.id}) }}">{% trans from "services" %}community.service.show.btn.evaluate{% endtrans %}</a>
							    		{% endif %} 
						    		{% endif %}                                  
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                          </div>
                       </div>
                       
                       {% if commentAllowed %}
	                     <h2 class="page-header">{% trans from "services" %}community.service.show.btn.evaluations{% endtrans %}</h2>
	                     <div class="row">
	                       {% if null != commentPhotographer %}
	                        <div class="col-md-6">
	                            <div class="box box-solid">
	                                <div class="box-header">
	                                    <h3 class="box-title">{% trans from "services" %}community.service.show.btn.evaluations.title.you{% endtrans %}</h3>
	                                </div><!-- /.box-header -->
	                                <div class="box-body">
	                                    <blockquote>
	                                        <p>{{ commentPhotographer.usercomment }}</p>
	                                        <small><cite title="Source Title">{{ commentPhotographer.usernotation }}</cite></small>
	                                    </blockquote>
	                                </div>
	                            </div>
	                        </div>
	                       {% endif %} 
	                     {% if null != commentClient %}   
		                    <div class="col-md-6">
		                            <div class="box box-solid">
		                                <div class="box-header">
		                                    <h3 class="box-title">{{ prestation.client.username }}</h3>
		                                </div><!-- /.box-header -->
		                                <div class="box-body">
		                                    <div class="box-group" id="accordion">
		                                    {% if commentClient.prestationnotation > 3 %}
		                                    	<div class="panel box box-success">
		                                    {% elseif commentClient.prestationnotation == 3 %}
		                                    	<div class="panel box box-primary">                                    	
		                                    {% elseif commentClient.prestationnotation < 3 %}
		                                    	<div class="panel box box-danger">
		                                    {% endif %}
		                                            <div class="box-header">
		                                                <h4 class="box-title">
		                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		                                                       {% trans from "services" %}community.service.show.btn.evaluations.client.notation.service{% endtrans %}
		                                                    </a>
		                                                </h4>
		                                            </div>
		                                            <div id="collapseOne" class="panel-collapse collapse in">
		                                                <div class="box-body">
		                                                <p>{{ commentClient.prestationcomment }}</p>
		                                                <p>{{ commentClient.prestationnotation }}</p>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    {% if commentClient.usernotation > 3 %}
		                                    	<div class="panel box box-success">
		                                    {% elseif commentClient.usernotation == 3 %}
		                                    	<div class="panel box box-primary">                                    	
		                                    {% elseif commentClient.usernotation < 3 %}
		                                    	<div class="panel box box-danger">
		                                    {% endif %}
		                                            <div class="box-header">
		                                                <h4 class="box-title">
		                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		                                                        {% trans from "services" %}community.service.show.btn.evaluations.client.notation.photographer{% endtrans %}
		                                                    </a>
		                                                </h4>
		                                            </div>
		                                            <div id="collapseTwo" class="panel-collapse collapse">
		                                                <div class="box-body">
														<p>{{ commentClient.usercomment }}</p>
		                                                <p>{{ commentClient.usernotation }}</p>
		                                                                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div><!-- /.box-body -->
		                            </div><!-- /.box -->
		                        </div><!-- /.col -->
		                   {% endif %}
                       </div>
                       {% endif %}
                       <h2 class="page-header">{% trans from "services" %}community.service.show.btn.timeline{% endtrans %}</h2>
                      <div class="row">
                        <div class="col-xs-12">  
                            <div class="box">
                            <div class="box-header">
                                    <h3 class="box-title">{% trans from "services" %}community.service.show.btn.timeline{% endtrans %}</h3>
                                </div><!-- /.box-header -->
                                <ul class="timeline">
									{% for message in messages %}
								 								
									    <!-- timeline item -->
									    {% if message.sender.id != app.user.id %}
									    <li>
									        <!-- timeline icon -->								        
									        <i class="fa fa-envelope bg-blue"></i>
									        <div class="timeline-item">
									            <span class="time"><i class="fa fa-clock-o"></i> {{ message.updatedat | date('d/m/Y H:i') }} </span>
									
									            <h3 class="timeline-header"><a href="#"> {{ message.sender.username }} </a></h3>
									
									            <div class="timeline-body"> {{ message.content }} </div>
									        </div>
									    </li>
									    {% else %}
									    <li>
									        <!-- timeline icon -->
									        {% if 1 == message.read %}
									        	<i class="fa fa-envelope bg-green"></i>
									        {% else %}								        
									        	<i class="fa fa-envelope bg-orange"></i>
									        {% endif %}	
									        <div class="timeline-item">
									        	<span class="time"><i class="fa fa-clock-o"></i> {{ message.updatedat | date('d/m/Y H:i') }} </span>
									        	{% if 1 == message.read %}
									            <h3 class="timeline-header"><a href="#" style="color:green;">{% trans from "services" %}community.service.show.btn.timeline.title.you{% endtrans %} </a></h3>
												{% else %}
									            <h3 class="timeline-header"><a href="#" style="color:orange;">{% trans from "services" %}community.service.show.btn.timeline.title.you{% endtrans %}  </a></h3>
												{% endif %}
									            <div class="timeline-body"> {{ message.content }} </div>
									        </div>
									    </li>
									    {% endif %}
								    {% endfor %}
								</ul>
                            </div>
                            </div></div>
                            {% if commentAllowed == false %}
                            <h2 class="page-header">{% trans from "services" %}community.service.show.btn.response{% endtrans %}</h2>
                            <div class="row">
                        		<div class="col-xs-12">
		                            <div class="box">
		                            	<div class="box-header">
		                                    <h3 class="box-title">{% trans from "services" %}community.service.show.btn.response.add{% endtrans %}</h3>
		                                </div><!-- /.box-header -->
		                                <!-- form start -->
		                               {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
		                                    <div class="box-body">									
		                                        {{ form_rest(form) }}
		                                    </div><!-- /.box-body -->
		
		                                    <div class="box-footer">
		                                        <button type="submit" class="btn btn-primary">{% trans from "services" %}community.service.show.btn.response.btn.submit{% endtrans %}</button>
		                                    </div>
		                                {{ form_end(form) }}
		                            </div>
                            	</div>
                            </div>
                            {% endif %}
{% endblock %}