{% extends '::base.html.twig'%}
{% block title %}{% trans from "company" %}companies.company.edit.h1{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "company" %}companies.company.edit.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "company" %}companies.company.edit.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-info-circle"></i>{% trans from "company" %}companies.company.edit.breadcrumbh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "company" %}companies.company.edit.breadcrumbh2{% endtrans %}{% endblock %}
{% block content %}
<section class="content">
	<div class="row">
			<div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">{% trans from "company" %}companies.company.edit.header{% endtrans %}</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                               {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                                    <div class="box-body">
                                        <div class="form-group {% if not form.title.vars.valid %}has-error{% endif %}">                             
                                        {{ form_label(form.title) }}                         
                                        {{ form_widget(form.title) }}
                                        <div class="text-red">
                                        {{ form_errors(form.title) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.company.field.title {% endtrans %}
                                        </p>
                                        </div>
                                        <div class="form-group {% if not form.country.vars.valid %}has-error{% endif %}">                             
                                        {{ form_label(form.country) }}                         
                                        {{ form_widget(form.country) }}
                                        <div class="text-red">
                                        {{ form_errors(form.country) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.company.field.country {% endtrans %}
                                        </p>
                                        </div>
                                        <div class="form-group {% if not form.department.vars.valid %}has-error{% endif %}">                             
                                        {{ form_label(form.department) }}                         
                                        {{ form_widget(form.department) }}
                                        <div class="text-red">
                                        {{ form_errors(form.department) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.company.field.department {% endtrans %}
                                        </p>
                                        </div>

                                        <div class="form-group {% if not form.town.vars.valid %}has-error{% endif %}">                             
                                        {{ form_label(form.town) }}                         
                                        {{ form_widget(form.town) }}
                                        <div class="text-red">
                                        {{ form_errors(form.town) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.company.field.town {% endtrans %}
                                        </p>
                                        </div>
                                        <div class="form-group {% if not form.address.vars.valid %}has-error{% endif %}">                             
                                        {{ form_label(form.address) }}                         
                                        {{ form_widget(form.address) }}
                                        <div class="text-red">
                                        {{ form_errors(form.address) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.company.field.address {% endtrans %}
                                        </p>
                                        </div>

                                        <div class="form-group {% if not form.identification.vars.valid %}has-error{% endif %}">                             
                                        {{ form_label(form.identification) }}                        
                                        {{ form_widget(form.identification) }}
                                        <div class="text-red">
                                        {{ form_errors(form.identification) }}
                                        </div>
                                        <p class="help-block">
                                        {% trans from "forms" %}help.company.field.identification {% endtrans %}
                                        </p>
                                        </div>


                                        {{ form_rest(form) }}
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">
                                            {% trans from "company" %}companies.company.edit.btn.submit{% endtrans %}</button>
                                    </div>
                                {{ form_end(form) }}
                            </div>
		</div>	
	</div>
</section>
{% endblock %}
{% block javascripts_inline %}
{% javascripts '@MainCommunityBundle/Resources/public/js/Added/star-rating.min.js' %}   
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock javascripts_inline %}
