{% extends '::base.html.twig'%}
{% block title %}{% trans from "company" %}companies.company.view.h1{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "company" %}companies.company.view.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "company" %}companies.company.view.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-info-circle"></i>{% trans from "company" %}companies.company.view.breadcrumbh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}{% trans from "company" %}companies.company.view.breadcrumbh2{% endtrans %}{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">
						{% trans from "company" %}companies.company.view.header{% endtrans %}</h3>
				</div>
				<div class="box-body table-responsive no-passind">
				 <table class="table table-hover">
				 	<tbody>
				 		<tr>
				 			<th>{% trans from "company" %}companies.company.view.th.title{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.company.view.th.address{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.company.view.th.town{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.company.view.th.country{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.company.view.th.code{% endtrans %}</th>
				 			<th>{% trans from "company" %}companies.company.view.th.status{% endtrans %}</th>
				 			<th></th>
				 		</tr>
				 		<tr>
				 		<td>{{ company.title }}</td>
				 		<td>{{ company.address }}</td>
				 		<td>{{ company.town.name }}</td>
				 		<td>{{ company.town.country.name }}</td>
				 		<td>{{ company.identification }}</td>
				 		<td>
				 		{% if 1 == company.status.id %}
				 		<span class="label label-warning">
				 			{% trans from "company" %}companies.company.view.status.to_verify{% endtrans %}
				 		</span>
				 		{% elseif 3 == company.status.id %}
				 		<span class="label label-danger">
				 			{% trans from "company" %}companies.company.view.status.refused{% endtrans %}
				 		</span>
				 		{% elseif 2 == company.status.id %}
				 		<span class="label label-success">
				 			{% trans from "company" %}companies.company.view.status.accepted{% endtrans %}
				 		</span>
				 		{% endif %}
				 		</td>
				 		<td>
				 			<a class="btn btn-default btn-sm" href="{{ path('company_edit') }}">
				 				{% trans from "company" %}companies.company.view.btn.edit{% endtrans %}</a>
				 		</td>
				 		</tr>
				 	</tbody>
				 </table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}