{% for result in results %}
		<article class="search-result">
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img class="img-rounded" src="{{ image64(result['book'].url,result['book'].fileType, 'devis')}}" alt="{{ result['devis'].title }}"/>
					<div class="caption text-center">
						<h3><strong>{{ result['devis'].title }}</strong></h3>
						<p>(note et nombre d'avis du devis)</p>
						<p>{{ result['devis'].presentation |slice(0, 140)|nl2br }}...</p>
						<hr>
						<p>
							<div class="text-center">
                				<img src="{{ image64(result['devis'].company.photographer.photo, result['devis'].company.photographer.photoType, 'pp') }}"  class="img-circle"  height="40" width="40"/>
                				<p>
                					{{ result['devis'].company.photographer.username }}
                				</p>
                				{% if result['devis'].company.photographer.prestations != 0 %}
	                				<p>
	                					{{ result['devis'].company.photographer.note|number_format(2) }} ({{ result['devis'].company.photographer.prestations }})
	                				</p>
	                			{% endif %}                			
            				</div>                            
						</p>
						<hr>
						<p>
						{% if 1 == result['prices']|length %}
							<h6><span class="heading-note">
								{{ result['prices'][0].price }} €
							</span></h6>
						{% elseif result['prices']|length > 1%}
							<h6><span class="heading-note">
								{{ result['prices']|length}} {% trans %}result.photographer.prices.multiple{% endtrans %} {{ result['minimum'] }} €
						</span></h6>
						{% endif %}
							
						</p>
						<p>
							<a class="btn btn-warning" role="button" href="{{ path('devis_show', {'id': result['devis'].id}) }}">{% trans %}result.photographer.btn.details{% endtrans %}</a>
						</p>
				</div>
			</div>				
		</article>
{% endfor %}