{% extends "::layout.html.twig" %}

{% block content %}
   <div class="row text-center">
	   {{ form_start(form, {'attr': {'class': 'bs-example form-inline'}}) }}
	   
		<div class="col-lg-12">
	   	   {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
	   	   {{ form_widget(form.day, {'attr': {'class': 'form-control'}}) }}
	   	   {{ form_widget(form.department, {'attr': {'class': 'form-control'}}) }}
		   {{ form_widget(form.town_text, {'attr': {'class': 'form-control'}}) }}
		   {{ form_widget(form.town_code) }}
		   {{ form_widget(form.country) }}
	   <button type="submit" class="btn">Submit</button>
	   </div>
	   {{ form_end(form) }}

   </div>
   {# ------------------------------------------ RESULTATS DE LA REQUETES ----------------------------------------------- #}
   {% if post %}
	   {% if results|length == 0 %}
	   		PAS DE RESULTATS -- A IMPLEMENTER
	   {% elseif results|length > 0 %}
	   		{% include "MainFrontBundle:Results:first.html.twig" %}
	   {% endif %}
	{% endif %}
{% endblock %}

{% block bottom_script %}
{% javascripts '@MainFrontBundle/Resources/public/js/search.js'
			   '@MainFrontBundle/Resources/public/js/diacritics.js' %}
<script type="text/javascript">
    var base = location.protocol + "//" + location.host + '{{ app.request.baseUrl }}';
    </script>    
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock bottom_script %}