{% extends '::base.html.twig'%}
{% block titleH1 %}{% trans from "default" %}gestion.default.index.h1{% endtrans %}{% endblock %}
{% block titleH2 %}{% trans from "default" %}gestion.default.index.h2{% endtrans %}{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-dashboard"></i>
{% trans from "default" %}gestion.default.index.breadh1{% endtrans %}
{% endblock %}
{% block breadcrumbH2 %}{% trans from "default" %}gestion.default.index.breadh2{% endtrans %}{% endblock %}
{% block content %}
<!-- Main content -->
                <section class="content">

                    <!-- Small boxes (Stat box) -->
                    <div class="row">                       
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>{{ prestations }}</h3>
                                    <p>{% trans from "default"%}gestion.dashboard.box.prestations{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="{{ path('services') }}" class="small-box-footer">
                                    {% trans from "default"%}gestion.dashboard.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-maroon">
                                <div class="inner">
                                    <h3>{{ devis }}</h3>
                                    <p>{% trans from "default"%}gestion.dashboard.box.devis{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-pricetag-outline"></i>
                                </div>
                                <a href="{{ path('offers') }}" class="small-box-footer">
                                    {% trans from "default"%}gestion.dashboard.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>{{ verify }}</h3>
                                    <p>{% trans from "default"%}gestion.dashboard.box.verifications{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-person-add"></i>
                                </div>
                                <a href="{{ path('verify-photographers') }}" class="small-box-footer">
                                    {% trans from "default"%}gestion.dashboard.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-purple">
                                <div class="inner">
                                    <h3>{{ verified }}</h3>
                                    <p>{% trans from "default"%}gestion.dashboard.box.verified{% endtrans %}</p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-briefcase-outline"></i>
                                </div>
                                    <a href="{{ path('users', {'type' : 'photographers'} ) }}" class="small-box-footer">
                                    {% trans from "default"%}gestion.dashboard.box.href.more{% endtrans %} 
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="col-lg-6 connectedSortable">
                            <!-- Custom tabs (Charts with tabs)-->
                            <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li class="pull-left header"><i class="fa fa-inbox"></i>
                                    {% trans from "default"%}gestion.dashboard.devis{% endtrans %}
                                    </li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div class="chart tab-pane active" id="sales-chart" style="position: relative; height: 300px;"></div>
                                </div>
                            </div><!-- /.nav-tabs-custom -->               
                        </section><!-- /.Left col -->
                        <!-- right col (We are only adding the ID to make the widgets sortable)-->
                        <section class="col-lg-6 connectedSortable"> 
                           <div class="nav-tabs-custom">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li class="pull-left header"><i class="fa fa-inbox"></i>
                                    {% trans from "default"%}gestion.dashboard.prestations{% endtrans %}
                                    </li>
                                </ul>
                                <div class="tab-content no-padding">
                                    <div class="chart tab-pane active" id="bar-chart" style="position: relative; height: 300px;"></div>
                                </div>
                            </div><!-- /.nav-tabs-custom -->   
                                
                            </div><!-- /.box -->

                        </section><!-- right col -->
                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
{% endblock %}

{% block javascripts_inline %}
    <script type="text/javascript">
        var groupByDevis = "{{ groupByDevis }}";
        var groupByPrest = "{{ groupByPrest }}"
    </script>    
{% endblock javascripts_inline %}