<!DOCTYPE HTML>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{ 'security.resetting.request.header' |trans }} {% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

     {% block stylesheets %}
    	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	    {% stylesheets 'bundles/maincommunity/css/*' filter="cssrewrite" %}
	    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
	    {% endstylesheets %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>
<body class="bg-black">
{% block fos_user_content %}
	<div class="form-box" id="login-box">
		<div class="header">{{ 'security.resetting.request.header' |trans}}</div>	
	    <div class="body bg-gray">
	        <p>
			{{ 'security.resetting.request.check_email'|trans({'%email%': email}) }}
			</p>
	    </div>
	    <div class="footer">
	    <p>
	    	<a href="{{ path('fos_user_security_login') }}">{{'security.resetting.request.link.login'|trans}}</a>
	    </p>	
	    </div>	
	</div>
{% endblock fos_user_content %}

</body>
</html>
