{% trans_default_domain 'FOSUserBundle' %}

<div class="form-box" id="login-box">
	<div class="header">{{ 'resetting.reset.submit' |trans}}</div>	
	
	<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <div class="body bg-gray">
        {{ form_widget(form) }}
    </div>
     <div class="footer">
	            <input type="submit" class="btn bg-olive btn-block" value="{{ 'resetting.reset.submit'|trans }}" />	
	        </div>
</form>
	
</div>