{% extends "::layout.html.twig" %}
{% block title %}{% trans %}user.email.title{% endtrans %}{% endblock%}
{% block content %}
<div class="col-md-3 content">
    {{ include("MainFrontBundle:Menu:side_bar.html.twig" ,{id: 'emails'}, with_context = false) }}
</div>
<div class="col-md-9 content">
    <div class="panel panel-primary">
        <div class="panel-heading text-center">
            <h5 class="box-title">
            	{% trans %}user.email.header {% endtrans %}
            </h5>
        </div>
   		{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        <div class="panel-body">	
        	<div class="form-group {% if not form.prestation.vars.valid %}has-error{% endif %}">                             
                {{ form_label(form.prestation) }}                         
                {{ form_widget(form.prestation) }}
                <div class="text-red">
                {{ form_errors(form.prestation) }}
                </div>
                </div>
                
                <div class="form-group {% if not form.messages.vars.valid %}has-error{% endif %}">
                {{ form_label(form.messages) }}                         
                {{ form_widget(form.messages) }}
                <div class="text-red">
                {{ form_errors(form.messages) }}
                </div>
                </div>
                
                <div class="form-group {% if not form.newsletter.vars.valid %}has-error{% endif %}"> 
                {{ form_label(form.newsletter) }}                         
                {{ form_widget(form.newsletter) }}
                <div class="text-red">
                {{ form_errors(form.newsletter) }}
                </div>
                </div>								
            {{ form_rest(form) }}
        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">
            	{% trans %}user.email.btn.submit{% endtrans %}
            </button>
        </div>
    {{ form_end(form) }}
    </div>
     <br><br><br>
</div>	
{% endblock %}