<header class="header">
            <a href="{{ path('dashboard') }}" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                CHEEE<strong>SE</strong>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        {% if is_granted('ROLE_PHOTOGRAPHER_VERIFIED') %}
                            <li class="dropdown messages-menu">
                                {% set messages = messagesNotifs() %}
                                {% if messages|length > 0 %}
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                    <i class="fa fa-envelope"></i>
                                    <span class="label label-success">{{ messages|length }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="header">
                                            {% if 1 == messages|length %}
                                                {% trans from "menu" %}menu.up.messages.one{% endtrans %}
                                            {% else %}
                                                {% trans with {'%count%': messages|length } from "menu" %}menu.up.messages.more %count%{% endtrans %}
                                            {% endif %}

                                        </li>
                                        <li>
                                            <ul class="menu">
                                                {% for message in messages %}
                                                    <li>
                                                        <a href="{{ path('service_show', { id : message.prestation.id})}}">
                                                        <div class="pull-left">
                                                            <img class="img-circle" src="{{ image64(message.prestation.client.photo, message.prestation.client.photoType, 'pp') }}" alt="{{ message.prestation.client.username }}" height="40" width="40"/>
                                                        </div>
                                                        <h4>{% trans from "menu" %}menu.up.messages.from {% endtrans %}</h4>
                                                        <p>
                                                            {% trans with {'%user%': message.prestation.client.username } from "menu" %}menu.up.messages.from %user%{% endtrans %}                                      </p>
                                                        <p>
                                                        {{ message.prestation.reference }}
                                                        </p>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li class="footer"><a href="#"></a></li>
                                    </ul>
                                {% endif %}                                
                            </li>
                          <li class="dropdown notifications-menu">
                            {% set notifications = notifications() %}
                            {% if notifications|length > 0 %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-warning"></i>
                              <span class="label label-warning">{{ notifications|length }}</span>
                            </a>
                            <ul class="dropdown-menu">
                              <li class="header">
                                {% if 1 == notifications|length %}
                                        {% trans from "menu" %}menu.up.week.one{% endtrans %}
                                    {% else %}
                                         {% trans with {'%count%': notifications|length } from "menu" %}menu.up.week.more %count%{% endtrans %}
                                    {% endif %}

                              </li>
                              <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    {% for notification in notifications %}
                                        <li>
                                            <a href="{{ path('service_show', { id : notification.prestation.id})}}">
                                                {{ include('MainCommunityBundle:Menu:notification_status.html.twig', 
                                        {id: notification.prestation.status.id}, with_context = false) }}
                                                
                                            </a>                                        
                                        </li>
                                    {% endfor %}                                  
                                 </ul>
                              </li>
                              <li class="footer"><a href="#"></a></li>
                            </ul>
                            {% endif %} 
                        </li>
                        {% endif %}
                        <!-- Tasks: style can be found in dropdown.less -->
                    
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{ app.user.username }} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="{{ image64(app.user.photo, app.user.photoType, 'pp') }}" class="img-circle" alt="User Image" />
                                    <p>
                                        {% if app.user.lastname == null %}
                                        {{ app.user.username }}
                                        {% else %}
                                        {{ app.user.firstname }} {{ app.user.lastname }}
                                        {% endif %}
                                        <small>{% trans from "menu" %}menu.up.membersince{% endtrans %} {{ app.user.createdAt|date('d-m-Y') }}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="{{ path('presentation') }}" class="btn btn-default btn-flat">{% trans from "menu" %}menu.up.profile{% endtrans %}</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">{% trans from "menu" %}menu.up.signout{% endtrans %}</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Locale -->
                        <li class="dropdown user user-menu">
                        	{#% include "locale.html.twig" %#}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>