{% extends '::base.html.twig'%}
{% block title %}{% trans from "users" %}community.presentation.edit.h1{% endtrans %}{% endblock %}
{% block titleH1 %}{% trans from "users" %}community.presentation.edit.h1{% endtrans %}{% endblock %}

{% block titleH2 %}
{% trans from "users" %}community.presentation.edit.h2{% endtrans %}
{% endblock %}
{% block breadcrumbH1 %}
<i class="fa fa-child"></i>{% trans from "users" %}community.presentation.edit.breadh1{% endtrans %}{% endblock %}
{% block breadcrumbH2 %}
{% trans from "users" %}community.presentation.edit.breadh2{% endtrans %}
{% endblock %}
{% block content %}
<section class="content">
	<div class="row">
		<div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">
                    	{% trans from "users" %}community.presentation.edit.header{% endtrans %}
                    </h3>
                </div>
                {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                <div class="box-body">	
                    <div class="row">
                        <div class="col-xs-6 form-group {% if not form.firstName.vars.valid %}has-error{% endif %}">                             
                        {{ form_label(form.firstName) }}                         
                        {{ form_widget(form.firstName) }}
                        <div class="text-red">
                        {{ form_errors(form.firstName) }}
                        </div>
                        <p class="help-block">
                        {% trans from "forms" %}help.presentation.field.firstName{% endtrans %}
                        </p>
                        </div>
                    
                        <div class="col-xs-6 form-group {% if not form.lastName.vars.valid %}has-error{% endif %}">                             
                        {{ form_label(form.lastName) }}                         
                        {{ form_widget(form.lastName) }}
                        <div class="text-red">
                        {{ form_errors(form.lastName) }}
                        </div>
                        <p class="help-block">
                        {% trans from "forms" %}help.presentation.field.lastName{% endtrans %}
                        </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 form-group {% if not form.birthDate.vars.valid %}has-error{% endif %}">                             
                        {{ form_label(form.birthDate) }}  
                        <div class="input-group">
                            <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                            </div>                       
                        {{ form_widget(form.birthDate) }}
                        </div>
                        <div class="text-red">
                        {{ form_errors(form.birthDate) }}
                        </div>
                        <p class="help-block">
                        {% trans from "forms" %}help.presentation.field.birthDate{% endtrans %}
                        </p>
                        </div>

                        <div class="col-xs-6 form-group {% if not form.telephone.vars.valid %}has-error{% endif %}">                             
                        {{ form_label(form.telephone) }} 
                        <div class="input-group">
                            <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                            </div>                        
                        {{ form_widget(form.telephone) }}
                        </div>
                        <div class="text-red">
                        {{ form_errors(form.telephone) }}
                        </div>
                        <p class="help-block">
                        {% trans from "forms" %}help.presentation.field.telephone {% endtrans %}
                        </p>
                        </div>
                    </div>

                    <div class="form-group {% if not form.presentation.vars.valid %}has-error{% endif %}">                             
                    {{ form_label(form.presentation) }}                         
                    {{ form_widget(form.presentation) }}
                    <div class="text-red">
                    {{ form_errors(form.presentation) }}
                    </div>
                    <p class="help-block">
                    {% trans from "forms" %}help.presentation.field.presentation{% endtrans %}
                    <br><br>
                    {% trans from "forms" %}help.presentation.field.exemple.title{% endtrans %}
                    <br>
                    {% trans from "forms" %}help.presentation.field.exemple.p1{% endtrans %}
                    <br>
                    {% trans from "forms" %}help.presentation.field.exemple.p2{% endtrans %}
                    </p>
                    </div>

                    {{ form_rest(form) }}                                        
                </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                        	{% trans from "users" %}community.presentation.edit.btn.submit{% endtrans %}
                        </button>
                        <a href="{{ path('presentation') }}" class="btn btn-default">
                        	{% trans from "users" %}community.presentation.edit.btn.back{% endtrans %}
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
		</div>	
	</div>
</section>
{% endblock %}
{% block javascripts_inline %}
        <script type="text/javascript">
            $(function() {
              $.fn.datepicker.dates['fr'] = {
                days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                monthsShort: ["Janv", "Févr", "Mar", "Avr", "Mai", "Juin", "Juil", "Août", "Sep", "Oct", "Nov", "Déc"],
                today: "Aujourd\'hui",
                clear: "Fermer"
              };
              $('#form_presentation_birthDate').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                startDate: '-99y',
                endDate: '-16y',
                language: 'fr',           
            });
            });
        </script>
{% endblock %}